body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
* container 居中处理
*/
.container {
  max-width:960px;
  margin-right: auto;
  margin-left: auto;

  /* 当浏览器你窗口变窄时  使 note 不至于 被推到最边缘 */
  padding-left:15px;
  padding-right:15px;
  min-height:100vh;
}

/*
* 将 note 做成响应式
*/
.notes-list{
  display:grid;
  grid-gap: 1rem;
/*  定义 grid  有多少行*/
/*  grid-template-columns: repeat(4,250px);*/
/*  上面这行代码不能实现响应式的原因是，将行数写死了，可以用下面这行代替 */
/*  每一行不能比 250px 小，不能大于 1 fractional unit (可获得的空间) */

  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}


/*
* note 的样式
*/
.note {
  background-color:#fef68a;
  border-radius: 10px;
  /*min-height 属性设置元素的最低高度*/
  min-height:170px;
  /* rem 与 字体相关连，如果改变字体的大小，padding 也会改变*/
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /*元素置于 flex box 的开始和结束*/
  justify-content: space-between;
/* 保留文本中的空格*/
  white-space: pre-wrap;
}

/*
* note 底部的样式
*/
.note-footer{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

/*
* 创建新的待办事项的note 的样式
*/
.note.new{
  background-color:darkseagreen;
}
textarea{
  border:none;
  resize:none;
  background-color:darkseagreen;
}

textarea:focus{
  outline:none;
  }
.save{
background-color:lightgray;
  border:none;
  border-radius:15px;
  padding:5px 10px;
}
.save:hover{
  background-color:whitesmoke;
  cursor:pointer;
}
.delete-icon{
  cursor:pointer;
}
.search{
  display:flex;
  align-items:center;
  background-color:rgb(233,233,233);
  border-radius:10px;
  padding:5px;
  margin-bottom: 1.5em;
}
.search input{
  border: none;
  background-color:rgb(233,233,233) 
}
.search input:focus{
  outline:none;
  }
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.dark-mode{
  background-color:rgb(53, 54, 58)
}
.dark-mode h1{
  color:whitesmoke;
}
